[Desktop Entry]
Type=Application
Name=Parch Driver Manager
GenericName=Driver Manager
Comment=Manage hardware drivers on Arch Linux
Categories=System;Settings;HardwareSettings;
Exec=parch-driver-manager
Icon=com.parchlinux.DriverManager
Terminal=false
StartupNotify=true
X-GNOME-UsesNotifications=true
